__pycache__/
*.pyc
*.py[cod]
*$py.class
*.log
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.cache

# To ignore selenium-testing testresults:
*.html

# To ignore excel files:
*.xlsx
*.xlsb
*.xltx
*.xls

# To ignore txt file:
file.txt

# To ignore downloaded YouTube audio:
*.mp3

# To ignore sample subreddits file
samplesubs.txt